@charset "UTF-8";
.feadin-elm {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: opacity 2s, visibility 2s, transform 2s;
}

.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@keyframes fadeInText {
  100% {
    transform: translateY(0);
  }
}
@keyframes border_anim {
  to {
    width: 100vw;
  }
}
@keyframes pathmove {
  0% {
    height: 0px;
    bottom: 0;
    opacity: 0;
  }
  0% {
    height: 100px;
    opacity: 1;
  }
  100% {
    height: 0px;
    bottom: 0;
    opacity: 0.4;
  }
}
body {
  overflow-x: hidden;
  position: relative;
  color: #fff;
  background-color: #242730;
  font-size: 15px;
  font-family: "Noto Sans Javanese";
}
body header {
  box-sizing: border-box;
  z-index: 999;
  position: absolute;
  position: fixed;
  width: 100%;
  padding: 40px 0px 40px 102px;
  top: 0;
  left: 0;
  background: rgba(23, 23, 23, 0.7);
}
body header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .head .rogo {
  height: 34px;
}
body header .btn_trigger {
  display: none;
}
body header .menu-list {
  display: flex;
  align-items: center;
}
body header .menu-list li {
  margin-right: 60px;
}
body header .menu-list li a {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
body header .menu-list li a:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #ffffff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.3s;
}
body header .menu-list li a:hover::after {
  transform: scale(1, 1);
}
body .fv {
  width: 100%;
  height: 730px;
  position: relative;
}
body .fv::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
}
body .fv .background {
  position: absolute;
  width: 512px;
  height: 721px;
  left: 0px;
  top: 7px;
  background: rgba(23, 23, 23, 0.7);
}
body .fv img {
  width: 100%;
  height: 730px;
}
body .fv .catch {
  position: absolute;
  width: 811px;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
body .fv .catch h1 {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 75px;
  line-height: 86px;
  letter-spacing: 0.02em;
}
body .fv .catch .message {
  margin-top: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.1em;
}
body main {
  padding-top: 59px;
  background: linear-gradient(70deg, #242730 38.78%, #2F2F3B 38.78%, #2F2F3B 60.45%, #242730 60.46%);
}
body main .category {
  width: 1227px;
  margin: auto;
}
body main .category .section {
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
  padding-top: 235px;
}
body main .category .section:last-child {
  margin-top: 250px;
  padding-top: 0;
}
body main .category .section {
  opacity: 0;
}
body main .category .section.is-animation {
  opacity: 1;
  visibility: visible;
}
body main .category .section .section-box {
  margin-top: 94px;
  z-index: 2;
  width: 398px;
  height: 311px;
  padding: 61px 137px 120px 55px;
  background: rgba(23, 23, 23, 0.8);
  position: absolute;
}
body main .category .section .section-box .section-box2 {
  border-left: 2px solid #FFFFFF;
  height: 228px;
}
body main .category .section .section-box .section-box2 h2 {
  font-size: 35px;
  margin-left: 24px;
  margin-top: 16px;
  letter-spacing: 0.4em;
}
body main .category .section .section-box .section-box2 .section-text {
  width: 372px;
  margin-top: 34px;
  line-height: 186%;
  letter-spacing: 0.1em;
  margin-left: 24px;
  font-size: 15px;
}
body main .category .section .section-box .section-box2 .more {
  margin-top: 82px;
}
body main .category .section .section-box .section-box2 .more a {
  color: #ffffff;
  border: 1px solid #FFFFFF;
  padding: 20px 84px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.055em;
  transition: color 0.3s, background-color 0.3s;
}
body main .category .section .section-box .section-box2 .more a:hover {
  color: #242730;
  background-color: #ffffff;
  content: "";
}
body main .category .section .section-ph {
  height: 627px;
  right: 300px;
  transform: translate(380px);
}
body main .category .section .ser-ph {
  right: -106px;
  transform: translate(0px);
}
body main .category .second {
  flex-direction: row-reverse;
}
body main .category .second .service {
  right: 109px;
  position: absolute;
}
body main .category .second .sofa {
  right: -98px;
}
body main .news {
  background: rgba(23, 23, 23, 0.9);
}
body main .news .news-box {
  display: flex;
  width: 1440px;
  height: 1130px;
  margin: auto;
  margin-top: 208px;
}
body main .news .news-box .news-title {
  background-image: url(../images/news1.png);
  width: 709px;
  height: 100%;
}
body main .news .news-box .news-title::before {
  background-color: rgba(0, 0, 0, 0.4);
  /* ↓全体を覆うように配置 */
  position: absolute;
}
body main .news .news-box .news-title h2 {
  width: 185px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
body main .news .news-box .news-title h2::before {
  content: "";
  border-left: solid 2px #ffffff;
  margin-right: 16px;
}
body main .news .news-box .news-list {
  background-size: 100%;
  width: 731px;
  padding-top: 80px;
}
body main .news .news-box .news-list .news-name {
  width: 564px;
  margin: auto;
  padding: 46px 0 46px 50px;
  border-top: solid 2px #ffffff;
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
}
body main .news .news-box .news-list .news-name a {
  color: #fff;
  text-decoration: none;
}
body main .news .news-box .news-list .news-name a p {
  margin-left: 54px;
}
body main .news .news-box .news-list .news-name:last-of-type {
  border-bottom: solid 2px #ffffff;
}
body main .news .news-box .news-list .more {
  width: 216px;
  padding: 46px 0 46px 0;
  margin: 40px auto;
}
body main .news .news-box .news-list .more a {
  text-decoration: none;
  border: 1px solid #FFFFFF;
  padding: 20px 84px;
  margin-left: 175px;
  color: #ffffff;
}
body main .news .news-box .news-list .more a:hover {
  color: #242730;
  background-color: #ffffff;
  content: "";
  transition: transform 0.3s;
}
body main .gallery {
  background: linear-gradient(120deg, #242730 38.78%, #2F2F3B 38.78%, #2F2F3B 60.45%, #242730 60.46%);
}
body main .gallery .gallery-box {
  width: 1440px;
  height: 675px;
  margin: auto;
  padding-top: 222px;
  position: relative;
}
body main .gallery .gallery-box h2 {
  text-align: center;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.4em;
  position: relative;
}
body main .gallery .gallery-box h2::before {
  content: "";
  border-left: solid 2px #ffffff;
  margin-right: 16px;
}
body main .gallery .gallery-box .slick1 {
  display: flex;
  margin-top: 74px;
}
body main .gallery .gallery-box .slick1 img {
  width: 577px;
  height: 386px;
  margin: auto;
}

footer {
  padding-top: 81px;
  height: 207px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../images/footer-oh.png);
  background-repeat: no-repeat;
  background-size: 580px;
}
footer .company {
  margin-left: 208px;
}
footer .company img {
  width: 169px;
}
footer .company .company-date {
  font-size: 16px;
  margin-top: 5px;
}
footer .company .company-date:first-child {
  margin-top: 41px;
}
footer .footer-nav {
  margin-right: 160px;
}
footer .footer-nav .footer-list {
  display: flex;
}
footer .footer-nav a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 64px;
  margin-top: 66px;
}
footer .footer-nav:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  body {
    background-size: auto 800px;
  }
  body .btn_trigger {
    display: block !important;
    width: 40px;
    height: 45px;
    position: relative;
    z-index: 3;
  }
  body .bar {
    width: 35px;
    height: 1px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  body .bar_top {
    top: 10px;
  }
  body .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  body .bar_bottom {
    bottom: 10px;
  }
  body .btn_trigger.close .bar_top {
    transform: translate(-50%, 11px) rotate(45deg);
    transition: transform 0.3s;
  }
  body .btn_trigger.close .bar_mid {
    opacity: 0;
    transition: opacity 0.3s;
  }
  body .btn_trigger.close .bar_bottom {
    transform: translate(-50%, -13px) rotate(-45deg);
    transition: transform 0.3s;
  }
  body .header-nav {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  body .header-nav {
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.9);
    opacity: 0.8;
    z-index: 2;
  }
  body .menu-list {
    background: rgba(23, 23, 23, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 15%;
    margin-left: 0;
  }
  body .header-nav .menu-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body .header-nav .menu {
    margin-right: 0;
    margin-bottom: 40px;
  }
  body .menu {
    margin-right: 0;
  }
  body .fv .catch {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  body header {
    width: 768px;
    padding: 40px;
  }
  body header .header-nav .menu {
    font-size: 24px;
    margin-bottom: 80px;
  }
  body .fv .background {
    width: 100%;
  }
  body .fv .catch {
    margin: auto;
  }
  body main .category {
    width: 590px;
  }
  body main .category .section {
    display: block;
    margin: auto;
    padding-top: 0px;
  }
  body main .category .section .section-ph {
    width: 590px;
    height: auto;
    text-align: center;
    transform: translate(50%, 10%);
  }
  body main .category .section .ser-ph {
    right: 300px;
  }
  body main .category .section .sofa {
    width: 590px;
    height: auto;
    text-align: center;
    transform: translate(-17%, 10%);
  }
  body main .news .news-box {
    width: auto;
    height: 1340px;
    display: block;
  }
  body main .news .news-box .news-title {
    background-image: none;
    height: 10%;
  }
  body main .news .news-box .news-title h2 {
    transform: translate(-50%, 200%);
  }
  body main .news .news-box .news-list {
    padding-top: 0;
    margin-top: 150px;
    width: unset;
  }
  body main .news .news-box .news-list .more {
    margin-top: 50px;
  }
  body main .news .news-box .news-list .more a {
    margin: auto;
  }
  body main .gallery .gallery-box {
    width: 768px;
  }
  body footer {
    display: block;
    background-image: none;
    height: auto;
  }
  body footer .company {
    margin-left: 0;
    text-align: center;
  }
  body footer .company .first {
    margin-top: 50px;
  }
  body .footer-nav {
    margin: 75px 160px 0 0;
  }
  body .footer-nav .footer-list {
    display: block;
    text-align: center;
  }
  body .footer-nav .footer-list .footer-name {
    margin-right: 0px;
    margin-top: 35px;
  }
  body .footer-nav .footer-list .footer-name:last-child {
    margin-bottom: 0;
    padding-bottom: 80px;
  }
  body .footer-nav .footer-list .footer-name a {
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  body header {
    width: 425px;
  }
  body header .header-nav .menu-list.flex-rc {
    padding-top: 45px;
  }
  body .fv .catch {
    width: 380px;
  }
  body .fv .catch h1 {
    font-size: 45px;
  }
  body main .category {
    width: auto;
  }
  body main .category .section:last-child {
    margin-top: 150px;
  }
  body main .category .section .section-ph {
    display: none;
  }
  body main .category .section .section-box {
    padding: 10px;
  }
  body main .category .section .section-box .section-box2 h2 {
    font-size: 20px;
  }
  body main .category .section .section-box .section-box2 .more {
    margin: 40px 0 0 20px;
  }
  body main .category .section .section-box .section-box2 .more a {
    padding: 10px 50px 5px 50px;
  }
  body main .news .news-box .news-title {
    width: 425px;
  }
  body main .news .news-box .news-title h2 {
    width: 100px;
    text-align: center;
    left: 5%;
  }
  body main .news .news-box .news-list {
    width: 425px;
  }
  body main .news .news-box .news-list .news-name {
    width: 390px;
  }
  body main .gallery .gallery-box {
    width: 425px;
  }
}/*# sourceMappingURL=style.css.map */